* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color1: rgb(7, 25, 82);
    --color2: rgb(11, 102, 106);
    --color3: rgb(53, 162, 159);
    --color4: rgba(139, 246, 228, 0.546);
}

[v-cloak] {
    display: none !important;
  }

.mainAccounts {
    min-height: 60vh;
    
}

h1 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: var(--color1) !important;
}

.nav-general {
    background-color: var(--color4);
    flex-direction: row !important;
}

a {
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    color: var(--color1) !important;
}

a:hover {
    transform: scale(1.1);
}

.nav-footer{
    background-color: var(--color4);
}

.p-footer{
    padding-top: 1rem;
    padding-right: 1rem;
}

.img-footer {
    width: 2rem;
    border-radius: 0.5rem;
}
.img-footer:hover {
    transform: scale(0.8);
}
.container-Account-Table{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
}

tbody tr.debit td {
    background-color: rgb(243, 183, 183) !important;
}

tbody tr.credit td {
    background-color: rgb(196, 242, 201) !important;
}

.button-card{
    text-decoration: none;
    color: aliceblue !important;
    background-color: var(--color1);
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1.1rem !important;
    }

.button-card:hover {
    transform: scale(1.04);
}

.container-img-body{
    box-shadow: 2px 2px 3px 1px rgb(152, 150, 150) !important;
}

.image-card-me{
    min-height: 100%;
    min-width: 100%;
}

.div-off-me{
    width: 12rem !important;
    background-color: rgba(139, 246, 228, 0.758) !important;
}

.div-off-profile-me {
    width: 17rem !important;
    background-color: rgba(7, 25, 82, 0.907) !important;  
}

table {
    text-align: center !important;
}  
.button-loans{
    width: 20rem !important; 
    height: 4rem !important; 
    background-color: var(--color3) !important;
    border: none !important;
    color: aliceblue !important;
    font-size: 1.4rem !important;
    font-weight: 700 !important;
    text-shadow: 2px 2px 2px var(--color1) !important;
    box-shadow: 2px 2px 3px 1px rgb(152, 150, 150) !important;
    cursor: pointer;
}

.button-loans:hover {
    transform: scale(1.04);
}

.card-loans{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media screen and (max-width: 575px){
    .image-card-me{
        width: 10rem; 
        height: 10rem;
    }
}

@media screen and (min-width: 600px){
.nav-burger{
    display: none !important;
}
}
@media screen and (max-width: 600px){
.nav-general{
    display: none !important
}
.carous-img{
    height: 12rem;
    object-fit: cover;
}
}
